body {
  font-family: "Times New Roman", serif;
  padding: 0;
  color: #000;
  background-color: #fff;
  margin: 0;
}

header {
  text-align: left;
  padding: 80px;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}

main {
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 55vh;
}

.image-container img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.links-container {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  width: 100%;
  padding-left: 270px;
}

.contact-container {
  text-align: left;
  font-size: 1.4rem;
  margin: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 40px;
}

a {
  color: #000;
  text-decoration: none;
}

/* Style for mobile screens */
@media screen and (max-width: 768px) {
  .image-container {
    margin: 0;
  }
}